Entry <TMPL_VAR NAME=ENTRY_ID> (<TMPL_VAR NAME=ENTRY_TITLE>) has been transferred to you.  <TMPL_IF NAME=CAN_PUBLISH>Please edit it as needed and then either publish it or transfer it to the next appropriate author.<TMPL_ELSE>Please edit it as necessary and send it along to the next appropriate author.</TMPL_IF>
