<TMPL_INCLUDE name="header.tmpl">

<h2>Author Workflow Permissions</h2>

<p>The following authors have access to <i><TMPL_VAR NAME=BLOG_NAME></i>.</p>

<form method="post" action="<TMPL_VAR NAME=WORKFLOW_URL>">

<input type="hidden" name="__mode" value="update_publish_perms" /> 
<input type="hidden" name="blog_id" value="<TMPL_VAR NAME=BLOG_ID>" />

<div class="list">
<table cellspacing="0">

<tr>
<th width="50%">Author</th>
<th width="25%">Can Publish</th>
<th width="25%">Can Grant Publish</th>
</tr>

<TMPL_LOOP NAME=AUTHOR_LOOP>

<tr class="<TMPL_IF NAME=IS_ODD>odd<TMPL_ELSE>even</TMPL_IF>">
<td><TMPL_VAR NAME=AUTHOR_NAME></td>
<td><input type="checkbox" name="can_publish" value="<TMPL_VAR NAME=AUTHOR_ID>" <TMPL_IF NAME=AUTHOR_CAN_PUBLISH>checked</TMPL_IF> /></td>
<td><input type="checkbox" name="can_grant" value="<TMPL_VAR NAME=AUTHOR_ID>" <TMPL_IF NAME=AUTHOR_CAN_GRANT>checked</TMPL_IF> /></td>
</tr>

</TMPL_LOOP>


</table>
</div>

<div align="right">

<input type="submit" value=" Update Permissions "/>

</div>
</form>

<TMPL_INCLUDE name="footer.tmpl">
