<div class="setting">
    <div class="label"><label for="workflow_enabled">Enable Workflow</label></div>
    <div class="field"><input type="checkbox" class="cb" name="workflow_enabled" id="workflow_enabled" value="1"<TMPL_IF NAME=WORKFLOW_ENABLED_1> checked="checked"</TMPL_IF> /></div>
</div>